<div class="story" ng-show="pc.storyTimeline || pc.win || pc.lose">
  <div class="story-content" ng-show="pc.storyTimeline && pc.storyTimeline < 18">
    <story-line content="..." timeline="pc.storyTimeline" index="1"></story-line>
    <story-line content="... ..." timeline="pc.storyTimeline" index="2"></story-line>
    <story-line content="Mmmhh...?!" timeline="pc.storyTimeline" index="3"></story-line>
    <story-line content="Am I dreaming?" timeline="pc.storyTimeline" index="4"></story-line>
    <story-line content="What is this island? It looks so familiar but new at the same time..."
                 timeline="pc.storyTimeline" index="5">
    </story-line>
    <story-line content="- Who is this?! -" timeline="pc.storyTimeline" index="6"></story-line>
    <story-line content="Arrghh!! A monster!!!" timeline="pc.storyTimeline" index="7"></story-line>
    <story-line content="Please don't eat me... Please!" timeline="pc.storyTimeline" index="8"></story-line>
    <story-line content="- Eating you? Mmhhh you woke me up after all... -" timeline="pc.storyTimeline" index="9"></story-line>
    <story-line content="- (Ahahah he doesn't know I don't eat humans...) -" timeline="pc.storyTimeline" index="10"></story-line>
    <story-line content="- Ok human! I will spare your life only if you can bring me enough food to fill my huge stomach! -" timeline="pc.storyTimeline" index="11"></story-line>
    <story-line content="Food? Ok... Sure!" timeline="pc.storyTimeline" index="12"></story-line>
    <story-line content="- Ah!   I forgot to tell you something... -" timeline="pc.storyTimeline" index="13"></story-line>
    <story-line content="- I only eat Okinawan Onigiri!! -" timeline="pc.storyTimeline" index="14"></story-line>
    <story-line content="What?! But I don't know what it is and how to cook it..." timeline="pc.storyTimeline" index="15"></story-line>
    <story-line content="- Of course you don't... Here! Take this recipe and go before I change my mind!! -" timeline="pc.storyTimeline" index="16"></story-line>
    <story-line content="- (Oh my god... I'm so hungry.....) -" timeline="pc.storyTimeline" index="17"></story-line>
  </div>
  <md-button class="md-raised md-accent skip-button" ng-show="pc.storyTimeline && pc.storyTimeline < 18" ng-click="pc._sounds.playHit(); pc.storyTimeline = 18">Skip</md-button>
  <div class="story-end" ng-if="pc.storyTimeline == 18">
    <p>Okinawan Onigiri secret recipe</p>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img width="60" ng-src="{{pc.urlNori}}"/>
          </td>
          <td>Nori</td>
          <td>Dry seaweed sheets</td>
        </tr>
        <tr>
          <td>
            <img width="60" ng-src="{{pc.urlRice}}"/>
          </td>
          <td>Rice</td>
          <td>Well cooked sticky rice</td>
        </tr>
        <tr>
          <td>
            <img width="60" ng-src="{{pc.urlEggs}}"/>
          </td>
          <td>Eggs</td>
          <td>Hard boiled sliced eggs</td>
        </tr>
        <tr>
          <td>
            <img width="60" ng-src="{{pc.urlTarama}}"/>
          </td>
          <td>Tarama</td>
          <td>Fresh fish purée</td>
        </tr>
        <tr>
          <td>
            <img width="60" ng-src="{{pc.urlHerbs}}"/>
          </td>
          <td>Kaiware</td>
          <td>Daikon sprouts (radish)</td>
        </tr>
      </tbody>
    </table>
    <md-button class="md-raised md-accent" ng-click="pc._sounds.playHit(); pc.storyTimeline = pc.storyTimeline+1">Next</md-button>
  </div>
  <div class="story-end story-end-2" ng-if="pc.storyTimeline == 19">
    <p>Catch all the ingredients in the <u>right order</u> to cook an Okinawan Onigiri.</p>
    <p>Each cooked Onigiri reduces the monster's hunger level.</p>
    <p>Cook fast, monster's appetite is increasing over time!</p>
    <p>And if you catch the wrong ingredient, the monster will be even more hungry!!</p>
    <md-button class="md-raised md-accent" ng-click="pc._sounds.playHit(); pc.storyTimeline = pc.storyTimeline+1">Next</md-button>
  </div>
  <div class="story-end story-end-2" ng-if="pc.storyTimeline == 20">
    <u>Commands:</u>
    <p>Use <b>up &uarr;</b> and <b>down	&darr;</b> key arrows to catch the right item.</p>
    <p>Make enough Onigiris to clear out the monster hunger level before it gets mad and maybe finally get out of this weird dream...</p>
    <br>
    <p>Good luck!</p>
    <md-button class="md-raised md-accent" ng-click="pc._sounds.playHit(); pc.start()">Go!</md-button>
  </div>
  <div class="story-end" ng-show="pc.win">
    <p>Congratulations! You managed to cook enough Okinawan Onigiris to fill the mysterious monster's stomach!</p>
    <md-button class="md-raised md-accent" ng-click="pc.reset()">Play again!</md-button>
    <md-button class="md-raised md-accent" ui-sref="home-page" ng-click="pc._sounds.playHit()">Quit</md-button>
  </div>
  <div class="story-end" ng-show="pc.lose">
    <p>Damn it! The mysterious monster was too hungry and could not wait for your cooking.</p>
    <md-button class="md-raised md-accent" ng-click="pc.reset()">Try again!</md-button>
    <md-button class="md-raised md-accent" ui-sref="home-page" ng-click="pc._sounds.playHit()">Quit</md-button>
  </div>
</div>
