<md-toolbar class="md-hue-2" md-whiteframe="2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ui-sref="home-page" ng-click="hbc._sounds.playHit()" aria-label="Home">
      <md-icon md-font-set="md">home</md-icon>
    </md-button>
    <h2>
      <span>Tokyo Stories 8bits</span>
    </h2>
    <span flex></span>
    <span class="credits">Developed with AngularJS, Typescript, PixiJS and Hexi -</span>
    <a href="https://github.com/sebastiendan/tokyo-stories-8bits" target="_blank" style="margin: 0 8px; height: 30px;"><img ng-src="{{hbc.githubLogoUrl}}" width="30"/></a>
    <a href="https://twitter.com/DanSebastien" target="_blank" style="margin-right: 8px; background: #fff; border-radius: 50%; height: 30px;"><img ng-src="{{hbc.twitterLogoUrl}}" width="30"/></a>
  </div>
</md-toolbar>
