<div class="background">
  <img ng-src="{{ hpc.cloudUrl }}"/>
</div>
<md-content class="md-padding">
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <img ng-src="{{ hpc.profileGameUrl }}" width="200" md-whiteframe="10"/>
  </section>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <h1 md-colors="{color: 'default-accent'}">Tokyo Stories 8bits</h1>
  </section>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <h2 md-whiteframe="8">A Front-End developer journey in Tokyo, Japan in probably more than 8 bits...</h2>
  </section>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button class="md-raised md-accent" ui-sref="levels-page" ng-click="hpc._sounds.playHit()">Enter</md-button>
  </section>
</md-content>
